tr.user {
	cursor: pointer;
}

h2, h4 {
	text-align: center;
}

table {
	margin: 0 auto;
	width: 75%;
	margin-top: 15px;
}

td {
	border: 1px solid grey;
	padding: 5px;
}

tr:nth-child(even) {
	background-color: #eee;
}

tr:nth-child(odd) {
	background-color: #fff;
}
