{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}{{ parent() }}change password{% endblock %}

{% block fos_user_content %}
{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_change_password') }}"  method="post" class="fos_user_change_password form-horizontal">
	{# TODO: do not ask for current password (?!) #}
	{{ form_widget(form) }}
	<div class="form-group">
		<div class="col-sm-8 col-sm-offset-2">
			<button type="submit" class="btn btn-primary">{{ 'change_password.submit'|trans }}</button>
		</div>
	</div>
</form>

{% endblock fos_user_content %}
